
*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

html{scroll-behaviour: smooth;

}

body {
	overflow-x: hidden;
	font-family: 'Nunito', sans-serif; 
}

nav{position:sticky;
	top:0;
	z-index: 5;
	height: 80px;
	width: 100%;
	background: #9d9d9d;
}

main h1{
	position: relative;
	top: 20px;
	left: 170px;
	color: #c7c7c7;
}



main ul{
	position: relative;
	left: 950px;
}



main ul li{ float: left;
	padding-left: 20px;
	list-style: none;
}

main ul li a{
	color:white;
	text-decoration: none;
}


main ul li a:hover{color: white;
	border-bottom: 5px solid #64a191;
	padding-bottom: 8px;}

header{ width: 100%;
	height: 660px;
	background:linear-gradient(rgba(22,22,22,0.3),rgba(35,22,32,0.3)),url(../img/bg-masthead.jpg) no-repeat;}

#header-text{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}


#header-text h1{
	position: relative;
	top:150px;
	color: #e3e3e3;
	font-size: 84px;
}

#header-text p{
	position: relative;
	top:180px;
	color: #e3e3e3;
	font-size: 20px;
}

#header-text button{
	position:relative;
	top: 230px;
	height: 55px;
	width: 190px;
	border: none;
	outline: none;
	background-color: #64a191;
	color: white;
	transition: background-color 1s;
}

#header-text button:hover{
	background-color: #4f837f;
}

#about{
	height: 500px;
	width:100%;
	background: url(../img/ipad.png) no-repeat;
	background-position: center bottom;
	background-size: 55% 55%;
}

#about-text{
	padding-top: 100px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	width: 50%;
}


#projects{
	height: 1000px;
	width: 100%;
	background-color: #e3e3e3;
	padding-top: 100px;
	padding-bottom: 100px;
}

#projects-text{
	width: 90%;
	margin: 0 auto;
	position: relative;
}

#project-bg1{
	height: 400px;
	width: 600px;
}

#project-bg1 img{
	height:400px;
	width: 600px;
}

#project-description{
	height: 400px;
	width: 600px;
	position: absolute;
	left: 600px;
	top: 0px;
	padding: 20px;
	border: 2px solid;
	background-color: black;
}

#project-description h3{
	position: absolute;
	top: 150px;
	left: 50px;
	color: white;
}

#project-description p{
	position: absolute;
	top: 190px;
	left: 50px;
	color: #848b84;
}

#project-description1{
	height: 400px;
	width: 600px;
	position: absolute;
	left: 0px;
	top: 400px;
	padding: 20px;
	border: 2px solid;
	background-color: black;
}

#project-description1 h3{
	position: absolute;
	top: 150px;
	left: 50px;
	color: white;
}

#project-description1 p{
	position: absolute;
	top: 190px;
	left: 50px;
	color: #848b84;
}

#project-bg2{
	height: 400px;
	width: 600px;
	position: absolute;
	left: 600px;
	top: 400px;
}


#project-bg2 img{
	height: 400px;
	width: 600px;
}

#contact{
	height: 500px;
	width: 100%;
	opacity: 0.8;
	background: url(../img/bg-signup.jpg) no-repeat;
}

#contact-text{
	position: relative;
	top: 140px;
	width: 70%;
	margin: 0 auto;
}


#contact-text h1{
	color: white;
	position: absolute;
	top: 50px;
	left: 240px;
}

#contact-text input{
	position: absolute;
	top: 140px;
	left: 90px;
	height: 65px;
	width: 550px;
	padding: 20px;
	outline: none;
	border: none;
	letter-spacing: 2px;
}


#contact-text button{
	position: absolute;
	top: 140px;
	left: 650px;
	height: 65px;
	width: 160px;
	outline: none;
	border: none;
	letter-spacing: 2px;
	background: none;
	background-color: #64a191;
	color: white;
}

footer{
	color: white;
	height: 230px;
	width: 100%;
	text-align: center;
	background: #000;
}

#footer-text{
	position: relative;
	margin: 0 auto;
	width: 50%;
	top: 60px;
}

#fb{
	height: 70px;
	width: 70px;
	background: white;
	color: black;
	padding-top: 15px;
	font-size: 30px;
	border-radius: 50px;
	position: absolute;
	left:200px;
}


#twitter{
	height: 70px;
	width: 70px;
	background: white;
	color: black;
	padding-top: 15px;
	font-size: 30px;
	border-radius: 50px;
	position: absolute;
	left:300px;
}



#github{
	height: 70px;
	width: 70px;
	background: white;
	color: black;
	padding-top: 15px;
	font-size: 30px;
	border-radius: 50px;
	position: absolute;
	left:400px;
}

#footer-text p{
	position: absolute;
	top: 120px;
	left: 220px;
}






































































